@page "/eventos"

@using Agenda.WebUI.Models
@using Agenda.WebUI.Services

<h1>Eventos</h1>

@inject NavigationManager NavigationManager
@inject EventosService EventosService
@inject DialogService DialogService

<RadzenScheduler @ref=@scheduler SlotRender=@OnSlotRender style="height: 768px;" TItem="EventoModel" Data=@appointments StartProperty="DataInicial" EndProperty="DataFinal"
    TextProperty="Nome" SelectedIndex="2"
    SlotSelect=@OnSlotSelect AppointmentSelect=@OnAppointmentSelect AppointmentRender=@OnAppointmentRender
    AppointmentMove=@OnAppointmentMove >
    <RadzenDayView />
    <RadzenWeekView />
    <RadzenMonthView />
</RadzenScheduler>

@* <EventConsole @ref=@console /> *@

@code {
    RadzenScheduler<EventoModel> scheduler;
    // EventConsole console;
    Dictionary<DateTime, string> events = new Dictionary<DateTime, string>();

    IList<EventoModel> appointments = new List<EventoModel>
    {
        new EventoModel { DataEventoInicio = DateTime.Today.AddDays(-2), DataEventoFinal = DateTime.Today.AddDays(-2), Nome = "Birthday" },
        new EventoModel { DataEventoInicio = DateTime.Today.AddDays(-11), DataEventoFinal = DateTime.Today.AddDays(-10), Nome = "Day off" },
        new EventoModel { DataEventoInicio = DateTime.Today.AddDays(-10), DataEventoFinal = DateTime.Today.AddDays(-8), Nome = "Work from home" },
        new EventoModel { DataEventoInicio = DateTime.Today.AddHours(10), DataEventoFinal = DateTime.Today.AddHours(12), Nome = "Online meeting" },
        new EventoModel { DataEventoInicio = DateTime.Today.AddHours(10), DataEventoFinal = DateTime.Today.AddHours(13), Nome = "Skype call" },
        new EventoModel { DataEventoInicio = DateTime.Today.AddHours(14), DataEventoFinal = DateTime.Today.AddHours(14).AddMinutes(30), Nome = "Dentist appointment" },
        new EventoModel { DataEventoInicio = DateTime.Today.AddDays(1), DataEventoFinal = DateTime.Today.AddDays(12), Nome = "Vacation" },
    };

    protected override async Task OnInitializedAsync()
    {
        appointments = await EventosService.GetEventosAsync();
    }

    void OnSlotRender(SchedulerSlotRenderEventArgs args)
    {
        // Highlight today in month view
        if (args.View.Text == "Month" && args.Start.Date == DateTime.Today)
        {
            args.Attributes["style"] = "background: var(--rz-scheduler-highlight-background-color, rgba(255,220,40,.2));";
        }

        // Highlight working hours (9-18)
        if ((args.View.Text == "Week" || args.View.Text == "Day") && args.Start.Hour > 8 && args.Start.Hour < 19)
        {
            args.Attributes["style"] = "background: var(--rz-scheduler-highlight-background-color, rgba(255,220,40,.2));";
        }
    }

    async Task OnSlotSelect(SchedulerSlotSelectEventArgs args)
    {
        // console.Log($"SlotSelect: Start={args.Start} End={args.End}");

        if (args.View.Text != "Year")
        {
            EventoModel data = await DialogService.OpenAsync<AddAppointmentPage>("Add Appointment",
                new Dictionary<string, object> { { "DataEventoInicio", args.Start }, { "DataEventoFinal", args.End } });

            if (data != null)
            {
                // EventosService.AdicionarEventoAsync();

                appointments.Add(data);
                // Either call the Reload method or reassign the Data property of the Scheduler
                await scheduler.Reload();
            }
        }
    }

    async Task OnAppointmentSelect(SchedulerAppointmentSelectEventArgs<EventoModel> args)
    {
        // console.Log($"AppointmentSelect: Appointment={args.Data.Text}");

        var copy = new EventoModel
            {
                DataEventoInicio = args.Data.DataEventoInicio,
                DataEventoFinal = args.Data.DataEventoFinal,
                Nome = args.Data.Nome
            };

        var data = await DialogService.OpenAsync<EditAppointmentPage>("Edit Appointment", new Dictionary<string, object> { { "Appointment", copy } });

        if (data != null)
        {
            // Update the appointment
            args.Data.DataEventoInicio = data.DataInicial;
            args.Data.DataEventoFinal = data.DataFinal;
            args.Data.Nome = data.Nome;
        }

        await scheduler.Reload();
    }

    void OnAppointmentRender(SchedulerAppointmentRenderEventArgs<EventoModel> args)
    {
        // Never call StateHasChanged in AppointmentRender - would lead to infinite loop

        if (args.Data.Nome == "Birthday")
        {
            args.Attributes["style"] = "background: red";
        }
    }

    async Task OnAppointmentMove(SchedulerAppointmentMoveEventArgs args)
    {
        var draggedAppointment = appointments.FirstOrDefault(x => x == args.Appointment.Data);

        if (draggedAppointment != null)
        {
            draggedAppointment.DataEventoInicio = draggedAppointment.DataEventoInicio + args.TimeSpan;

            draggedAppointment.DataEventoFinal = draggedAppointment.DataEventoFinal + args.TimeSpan;

            await scheduler.Reload();
        }
    }
}
