@page "/editar-contato"
@using WebUI.Models
@using WebUI.Services
@inject NavigationManager NavigationManager
@inject ContatosService ContatosService
@rendermode InteractiveServer

<PageTitle>Editar Contato</PageTitle>

<h1>Editar Contato</h1>

<div class="row">
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" @bind="novoContato.Nome">
            </div>
            <div class="form-group">
                <label for="telefone">Telefone:</label>
                <input type="text" class="form-control" id="telefone" @bind="novoContato.Telefone">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" @bind="novoContato.Email">
            </div>
            <div class="form-group">
                <label for="ddd">DDD:</label>
                <input type="text" class="form-control" id="ddd" @bind="novoContato.DDD">
            </div>
            <button type="button" class="btn btn-primary" @onclick="AdicionarContato">Salvar</button>
        </form>
    </div>
</div>

@code {
    ContatoModel novoContato = new ContatoModel();

    private async Task AdicionarContato()
    {
        List<ContatoModel> listaContatos = new List<ContatoModel>();
        listaContatos.Add(novoContato);

        if (await ContatosService.AdicionarContatoAsync(listaContatos))
        {
            NavigationManager.NavigateTo("/contatos");
        }
    }
}


