@page "/adicionar-contato"
@using WebUI.Models
@using WebUI.Services
@inject NavigationManager NavigationManager
@inject ContatosService ContatosService
@rendermode InteractiveServer

<PageTitle>Adicionar Novo Contato</PageTitle>

<h1 class="text-center">Adicionar Novo Contato</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" @bind="novoContato.Nome">
                </div>
                <div class="form-group">
                    <label for="telefone">Telefone:</label>
                    <input type="text" class="form-control" id="telefone" @bind="novoContato.Telefone">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" @bind="novoContato.Email">
                </div>
                <div class="form-group">
                    <label for="ddd">DDD:</label>
                    <input type="text" class="form-control" id="ddd" @bind="novoContato.DDD">
                </div>
                <div class="form-group text-center">
                    <button type="button" class="btn btn-primary mt-3" @onclick="AdicionarContato">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@code {
    ContatoModel novoContato = new ContatoModel();

    private async Task AdicionarContato()
    {
        List<ContatoModel> listaContatos = new List<ContatoModel>();
        listaContatos.Add(novoContato);

        if (await ContatosService.AdicionarContatoAsync(listaContatos))
        {
            NavigationManager.NavigateTo("/contatos");
        }
    }
}
